$colors-body-background: #172f51;
$colors-light-foreground: #eeeeee;
$colors-dark-foreground: #555555;
$colors-darker-foreground: #333333;
$colors-links: rgb(112, 112, 245);

$fontsizes-small: 12px;
$fontsizes-normal: 15px;
$lineheights-normal: 24px;