$colors-body-background: #172f51;
$colors-light-foreground: #eeeeee;
$colors-darker-light-foreground: #cccccc;
$colors-ligther-dark-foreground: #999999;
$colors-dark-foreground: #555555;
$colors-darker-foreground: #333333;
$colors-links: rgb(112, 112, 245);

$fontsizes-small: 13px;
$fontsizes-normal: 15px;
$fontsizes-larger-normal: 17px;
$lineheights-normal: 24px;