@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

@import "global/values";

/* Master Styles */

body 
{
    margin: 2em;
    background-color: $colors-body-background;
}

a
{
    text-decoration: none;
    color: $colors-links;
}

input[type="button"]
{
    outline:none;
    border: 0px;
    padding: 3px 10px;
    font-size: $fontsizes-small;
    color: $colors-dark-foreground;
    border-radius: 5px;    
    cursor: pointer;
}

input[type="button"]::-moz-focus-inner 
{
    border: 0;
}

/* everywhere else */
* 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fontsizes-normal;
    color: $colors-dark-foreground;    
    line-height: $lineheights-normal;    
}