@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

@import "global/values";

/* Master Styles */

body 
{
    margin: 2em;
    background-color: $colors-body-background;
}

a
{
    text-decoration: none;
    color: $colors-links;
}

input[type="button"]
{
    outline:none;
    border: 0px;
    padding: 3px 10px;
    font-size: $fontsizes-small;
    color: $colors-dark-foreground;
    border-radius: 5px;    
    cursor: pointer;
}

input[type="button"]::-moz-focus-inner 
{
    border: 0;
}

/* everywhere else */
* 
{
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: $fontsizes-normal;
    color: $colors-dark-foreground;    
    line-height: $lineheights-normal;    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.07);
}

.no-selection
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

i.icon,i.inactive-icon
{
    color: #888888;
    height: 38px; 
    font-size: 38px;   
    cursor: pointer;
}

i.icon:hover
{
    color: #9790fd;
}